@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
.maisconteudo {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.container-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-conteudo img {
  width: 410px;
}
.conteudo {
  display: flex;
  flex-direction: column;
}
h1 {
  font-weight: 700;
  font-size: 47px;
  color: #009688;
}
p {
  font-weight: 300;
  font-size: 20px;
  width: 400px;
}

.hand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px 5px;
  margin-top: 50px;

  width: 100%;
  background: #e5e5e5;
}
.container-hand {
  padding: 50px;
  align-items: center;
}
.container-hand:hover {
  box-shadow: 1px 4px 4px 0px rgb(0 0 0 / 40%);
}

h2 {
  font-weight: 500;
  font-size: 30px;
  color: #ff4081;
}
.texto-container {
  font-weight: 500;
}
.texto-p {
  width: 520px;
  font-weight: 300;
  font-size: 17px;
}
@media only screen and (max-width: 800px) {
  .container-conteudo {
    width: 100%;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 500px) {
    .container-hand {
      width: 100%;
    }
    .container-hand img {
      width: 100%;
    }
    .container-hand .texto-p {
      width: 100%;
    }
  }
  @media only screen and (max-width: 400px) {
    .container-conteudo {
      width: 100%;
    }
    .container-conteudo img {
      display: none;
    }
    .conteudo p {
      width: 100%;
    }
  }
}
