@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
.post {
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ff4081;
  font-weight: 500;
  font-size: 50px;
}
.cinza {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 80px;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 150px;
  margin-bottom: 80px;
}
h2 {
  color: #009688;
  padding: 25px;
}
p {
  font-weight: 300;
  font-size: 18px;
}
.container-cursos {
  display: flex;
  flex-direction: column;

  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #f6f6f6;
  padding: 100px;
}
.container-cursos-curso {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.curso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curso h3 {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #ff4081;
}
.curso p {
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  width: 300px;
}

.botao {
  display: flex;
  text-align: center;
  align-content: center;
  background: #ff4081;
  border-radius: 62px;
  border: 1px solid #ff4081;
  padding: 15px 45px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.botao a {
  color: #f6f6f6;
}
.container-cursos h4 {
  font-weight: 500;
  font-size: 50px;
  color: #ff4081;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .cinza img {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .curso {
    width: 100%;
    align-items: center;
    padding-top: 25px;
  }

  article {
    padding: 3px 5px;
  }
  h1 {
    width: 100%;
  }
  .curso img {
    width: 100%;
  }
  .curso {
    margin: 0;
  }

  @media only screen and (max-width: 440px) {
  }
  .curso {
    width: 100%;
    align-items: center;
  }
  .container-cursos-curso {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .curso {
    width: 100%;
    align-items: center;
  }
  .curso img {
    width: 100%;
  }
  .curso p {
    width: 100%;
  }
  .container-cursos {
    align-items: center;
    justify-content: center;
  }
}