<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/curso.css">
    <title>Curso</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="../index.html" class="logo"><img src="../img/logo-header.png"
                    alt="Logo da empresa Dindin com um $"></a>
            <ul class="nav-links">
                <li class="nav-itens"><a href="./index.html">inicio</a></li>
                <li class="nav-itens"><a href="./maisconteudo.html">Blog</a></li>
                <li class="nav-itens"><a href="./contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section class="container-curso">
        <div class="intro-texto">
            <h2>Investimento
                <br>para iniciantes
            </h2>
            <p>Investir inteligentemente é importante para alcançar seus objetivos financeiros a longo prazo. Isso
                inclui diversificar sua carteira de investimentos, estudar as tendências do mercado e compreender os
                riscos e recompensas associados a cada opção de investimento. Com a educação e planejamento adequados,
                você pode tomar decisões informadas e alcançar sua segurança financeira.
            </p>
        </div>
        <div class="intro-logo">
            <img src="../img/ilustra-poupando.png" alt=" logo">
        </div>

    </section>

    <section class="aulas">

        <div class="aulas-item">
            <img src="../img/Currency.gif" alt="aula 1">


            <div class="aulas-texto">
                <h2>Aula 1</h2>
                <p>
                    Ter metas claras é fundamental para qualquer pessoa que deseja aprender a investir. Metas ajudam a
                    definir o que você quer alcançar financeiramente e fornecem um plano de ação para alcançá-las
                </p>
            </div>
        </div>

        <hr>

        <div class="aulas-item">
            <img src="../img/Finance.gif" alt="aula 2">


            <div class="aulas-texto">
                <h2>Aula 2</h2>
                <p>
                    Diversificação: Diversificar sua carteira de investimentos é uma maneira eficaz de reduzir o risco e
                    aumentar a chance de obter retornos positivos. Isso inclui investir em diferentes tipos de ativos,
                    como ações, títulos e imóveis, e em diferentes setores e mercados.
                </p>
            </div>
        </div>

        <hr>

        <div class="aulas-item">
            <img src="../img/Shared goals.gif" alt="aula 3">


            <div class="aulas-texto">
                <h2>Aula 3</h2>
                <p>
                    Defina metas específicas, mensuráveis e alcançáveis para sua poupança. Isso pode incluir metas
                    financeiras a curto e longo prazo, como poupar para uma viagem de férias, uma reserva de emergência
                    ou uma aposentadoria.
                </p>
            </div>
        </div>

    </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <img src="../img/logo-footer.png" alt="Logo">
            </div>
            <div class="footer-center">
                <a href="./cursos.html">Cursos</a>
        <a href="./maisconteudo.html">Blog</a>
                <a href="./contato.html">Contato</a>
            </div>
            <div class="footer-right">
                <a href="./post.html">Seja um Professor</a>
                <a href="./post.html">Outro Link</a>
            </div>
        </div>
    </footer>
</body>

</html>