<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/cursos.css">
    <title>Cursos</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="./index.html" class="logo"><img src="../img/logo-header.png"
                    alt="Logo da empresa Dindin com um $"></a>
            <ul class="nav-links">
                <li class="nav-itens"><a href="../index.html">Inicio</a></li>
                <li class="nav-itens"><a href="./maisconteudo.html">Blog</a></li>
                <li class="nav-itens"><a href="./contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section class="aulas">
        <div class="container-text">
            <h2>Cursos</h2>
            <p>Educação financeira é tudo de bom</p>
        </div>
        <hr>
        <div class="aulas-item">
            <img src="../img/ilustra-poupando.png" alt="aula 1">
            <div class="aulas-texto">
                <h2>Investimento para iniciantes</h2>
                <p>
                    Este curso de Investimento para Iniciantes é projetado para ensinar os fundamentos da poupança e
                    investimento. Aprenderá sobre diferentes tipos de investimentos, como ações, títulos, imóveis e
                    investimentos de renda fixa.
                    Também discutiremos estratégias de diversificação e gerenciamento de risco. Além disso, abordaremos
                    como avaliar oportunidades de investimento e como criar um plano de investimento personalizado.
                </p>
                <div class="btn-aula">
                    <a href="./curso.html">começar agora</a>
                </div>
            </div>
        </div>

        <div class="aulas-item">
            <img src="../img/ilustra-investimento.png" alt="aula 1">
            <div class="aulas-texto">
                <h2>Poupando e Rendendo</h2>
                <p>
                    Este curso de Poupança e Renda é projetado para ensinar os fundamentos de como planejar e investir
                    seus recursos financeiros. Aprenderá sobre técnicas de poupança, como estabelecer metas financeiras
                    e criar orçamentos, e sobre como investir seu dinheiro de maneira inteligente para alcançar essas
                    metas.
                </p>
                <div class="btn-aula">
                    <a href="./curso.html">começar agora</a>
                </div>
            </div>
        </div>

        <div class="aulas-item">
            <img src="../img/ilustra-independencia.png" alt="aula 1">
            <div class="aulas-texto">
                <h2>Independência Financeira</h2>
                <p>
                    Curso de Independência Financeira é projetado para ensinar as técnicas e estratégias para alcançar a
                    liberdade financeira. Aprenderá sobre como controlar suas despesas, aumentar sua renda e investir de
                    maneira inteligente.
                </p>
                <div class="btn-aula">
                    <a href="./curso.html">começar agora</a>
                </div>
            </div>

        </div>

    </section>


    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <img src="../img/logo-footer.png" alt="Logo">
            </div>
            <div class="footer-center">
                <a href="./cursos.html">Cursos</a>
                <a href="./maisconteudo.html">Blog</a>
                <a href="./contato.html">Contato</a>
            </div>
            <div class="footer-right">
                <a href="./post.html">Seja um Professor</a>
                <a href="./post.html">Outro Link</a>
            </div>
        </div>
    </footer>
</body>

</html>