<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Style/headerfooter.css">
  <link rel="stylesheet" href="../Style/post.css">
  <title>dindin</title>
</head>

<body>
  <header>
    <div id="container-logo">
      <a href="../index.html"> <img src="../img/logo-header.png" alt="logo"> </a>

      <nav id="navbar">
        <ul>
          <li> <a href="../View/cursos.html"> CURSOS </a></li>
          <li> <a href="../View/maisconteudo.html"> BLOG</a> </li>
          <li> <a href="../View/contato.html"> CONTATO</a> </li>
        </ul>

      </nav>
    </div>

  </header>
  <main>
    <h1>
      On the other hand, we denounce
    </h1>
    <div class="cinza"> <img src="../img/foto post.png"></div>
    <section class="post">
      <article>
        <p>
          On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
          by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
          that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will,
          which is the same as saying through shrinking from toil and pain.
        <p> <br>
        <p> These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is
          untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be
          welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the
          obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.
        </p> <br>
        <p> The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to
          secure other greater pleasures, or else he endures pains to avoid worse pains.On the other hand, we denounce
          with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of
          the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and
          equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying
          through shrinking from toil and pain. </p>

        <h2> These cases are perfectly simple and easy to distinguish</h2>
        <p> In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what
          we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing
          to the claims of duty or the obligations of business it will frequently occur that pleasures have to be
          repudiated and annoyances accepted.</p> <br>
        <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
          facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
          impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
          repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
          voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
          ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>

        <h2> Sed ut perspiciatis unde omnis iste natus error sit</h2>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
          amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
          laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
          voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla
          pariatur?
        </p>

      </article>
    </section>
    <section class="container-cursos">

      <h4>Conheça nossos cursos</h4>
      <div class="container-cursos-curso">
        <div class="curso">
          <img src="../img/image 3 (Traced).png" alt="imagem-poupando">
          <h3>Investimento para iniciantes</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit es se cillum dolore eu fugiat nulla pariatur.</p>
          <button class="botao"> <a href="./cursos.html"> começar agora</a> </button>
        </div>
        <div class="curso">
          <img src="../img/image 2 (Traced).png" alt="imagem-investimento">
          <h3>Poupando e Rendendo</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit es se cillum dolore eu fugiat nulla pariatur.</p>
          <button class="botao"> <a href="./cursos.html"> começar agora</a> </button>
        </div>
        <div class="curso">
          <img src="../img/image 4 (Traced).png" alt="imagem-independencia">
          <h3>Independência Financeira</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit es se cillum dolore eu fugiat nulla pariatur.</p>
          <button class="botao"> <a href="./cursos.html"> começar agora</a> </button>
        </div>
      </div>
    </section>


  </main>

  <footer>
    <div class="rodape">
      <img src="../img/logo-footer.png" alt="logo-footer">
      <nav id="navbarfooter">
        <ul>
          <li> <a href="../View/cursos.html">Cursos </a></li>
          <li> <a href="../View/maisconteudo.html"> blog</a> </li>
          <li> <a href="../View/contato.html"> contato</a> </li>
        </ul>
      </nav>
      <div id="rodapes">
        <p> <a href="../View/post.html"> quero ser prof</a> </p>
        <p> <a href="../View/post.html"> aqui tem outro link</a> </p>
      </div>
    </div>
  </footer>

</body>

</html>